<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Snippet</title>
    <link rel="icon" type="image/x-icon" href="/braces.svg">
    <link rel="stylesheet" href="/add.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/srcery.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</head>

<body>
    <div class="main">
        <form action="" method="post">
            <input required class="title-input" type="text" name="title" placeholder="Enter snippet title... ">
            <div class="code-container">
                <textarea spellcheck="false" required name="code" id="" placeholder="Enter or paste code here... "></textarea>
            </div>
            <div class="submit-div">
                <button type="submit">
                    Add Snippet
                </button>
                <div class="option-div">
                    <p>Language</p>
                    <select name="language" id="languages">
                        <option selected value="AutoDetect">AutoDetect</option>
                    </select>
                </div>
            </div>
        </form>
        <a href="/snippets" class="my-snippets-btn">
            My Snippets
        </a>
    </div>

    <script>
    </script>
    <script>
        hljs.highlightAll();
        // console.log(hljs);
        
        const select = document.querySelector("select");
        // console.log(hjls.listLanguages());
        
        hljs.listLanguages().forEach((lang) => {
            const option = document.createElement("option");
            option.value = lang;
            option.textContent = lang;
            select.appendChild(option)
        })
    </script>
</body>

</html>